h1.title Simple Responsive Chat / Messenger

p.description
  em Go ahead and add a message.

ul.messages
  li.message
    h1.name Chris Hutchinson
    img(src="http://lorempixel.com/200/200", class="user")
    p.text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta condimentum ante id tristique. Nulla eget vestibulum dolor.
      
  li.message
    h1.name Nic Cage
    img(src="http://lorempixel.com/210/210", class="user")
    p.text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta condimentum ante id tristique. Nulla eget vestibulum dolor.
      
textarea.message(placeholder="Your message...")
div.actions
  button Send